body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
  
}

h1{

    font-size: 50px;
}
h2{

    font-size:40px;
}
.name-highlight{

    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.top-benar{

    background-image: url(images/top-banner.png);
    
    background-repeat: no-repeat;

    
}
section{

    height: 500px;
    padding-bottom: 200px;
}

.link-button{

    text-decoration: none;
   
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight:700;

}
.dream-area{
   
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;



    }
 
    .name-color{

        color: rgb(4, 243, 124);
    }
    
    .single-experience{

        box-shadow: 10px 10px 40px grey;
        border-radius: 10px;
        height: 80%;
        background-color: white;
    
    }
    #web-dream{
        border-left: 5px solid ;
        border-image: linear-gradient(180deg, green, tomato);
        border-image-slice:  1;

    }

    #app-dream{

        border-left: 5px solid;
        border-image: linear-gradient(180deg, pink, black);
        border-image-slice: 1;
        
    }

    .experience-area{

        background-image: url(images/exp-bg.png);
        
        background-repeat: no-repeat;
        
        background-position: left;


    }
  .morija-na{

    font-size: 12px;
    text-align: center;
  }
    
  .lust-pic img{

 width: 100%;


  }